<ion-view title="Dashboard">
  <ion-content class="has-header padding">

	<div class="row">
          <div class="col col-50">
		<h3>
		<u>CURRENT</u> 
		</h3>
          </div>
          <div class="col col-50">
		<h3>
		<u>NEXT SEMESTER</u>
		</h3>
          </div>
        </div>
	<div class="row">
          <div class="col col-50">
		<h3>
		GPA:  2.225 
		</h3>
          </div>
          <div class="col col-50">
		<h3>
		GPA: <span class=""> 2.2</span>
		</h3>
          </div>
        </div>
	<div class="row">
          <div class="col col-50">
		<h3>
		PELL:  $0
		</h3>
          </div>
          <div class="col col-50">
		<h3>
		PELL: $2500
		</h3>
          </div>
        </div><div class="row">
          <div class="col col-50">
		<h3>
		TAP:  $0
		</h3>
          </div>
          <div class="col col-50">
		<h3>
		TAP: $2500
		</h3>
          </div>
        </div>
	<div class="row">
          <div class="col col-50">
		<h3>
		Est. Graduation <br/>
		<b>June, 2016</b>
		</h3>
          </div>
          <div class="col col-50">
		<h3>
		Est. Graduation <br/>
		<b>June, 2016</b>
		</h3>
          </div>
        </div>




  </ion-content>
</ion-view>
