<div id="welcome">
    <div class="carousel">
        <div class="slide">
            <div class="row">
                <div class="intro">
                    <img src="img/logo-transparent.png" width="180"/>
                    <p>Welcome to OnTrack!<br/>Your personal academic scoreboard</p>
                </div>
       
            </div>
        </div>


    </div>
  
    <div class="bottom">
    <div class="row">
            <button ng-click="$goLogin()" class="login-btn">LOGIN</button>
    </div>

        <div class="row">
            <button ui-sref="onboard.step1" class="signup-btn">SIGNUP</button>
        </div>

    </div>
</div>

