
<div id="welcome">
   
    <div class="row">
        <div class="intro">
            <img src="img/feature2.png" width="60%"/>
            <p>Keep track of your grade and total credits</p>
        </div>
       
    </div>

  
    <div class="bottom">
    <div class="row">
            <button ui-sref="welcome.screen1" class="login-btn">LOGIN</button>
    </div>

        <div class="row">
            <button ui-sref="welcome.screen1" class="signup-btn">SIGNUP</button>
        </div>

    </div>
</div>
